<div class="page-header">
  <%= link_to roles_path, class: 'btn btn-sm btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to @role, class: 'btn btn-sm btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h4>Editar Rol</h4>
</div>
<ol class="breadcrumb">
  <li>
    <%= link_to roles_path do %>
        <%= fa_icon "user", text: "Roles" %>
    <% end %>
  </li>
  <li class="active">
    Editar Rol
  </li>
</ol>

<%= render 'form' %>
